# the rest
fiftyone
tensorboard
torch
numpy
# streamlit
streamlit
streamlit_autorefresh
watchdog
streamlit-ace
sh
# hydra
hydra-core
torch
torchvision
git+https://github.com/pytorch/hydra-torch
hydra-joblib-launcher
omegaconf
# misc
deepdiff
# lightining pose
numpy
torch
black
fiftyone
geomloss
h5py
hydra-core
imgaug
kornia
matplotlib
pandas
pillow
pytest
pytorch-lightning
sklearn
torchtyping
torchvision
typeguard
# gpus
#nvidia-pyindex
#--extra-index-url https://developer.download.nvidia.com/compute/redist
#nvidia-dali-cuda110
-e ./lightning-pose
