fiftyone
tensorboard
torch
numpy
# streamlit
streamlit
streamlit_autorefresh
watchdog
# streamlit editor
streamlit-ace
# hydra
hydra-core
torch
torchvision
git+https://github.com/pytorch/hydra-torch
hydra-joblib-launcher
omegaconf
# misc
deepdiff
