sphinx
sphinx_rtd_theme
sphinx-rtd-dark-mode
sphinx-automodapi
sphinx-copybutton
lightning[app]
numpy
opencv-python
pandas
scikit-learn
streamlit
streamlit-ace
streamlit_autorefresh
tables
tqdm
watchdog
google-auth-oauthlib==0.7.1
label-studio==1.9.1
label-studio-sdk==0.0.32