# lightning pose misc
tensorboard
# lightining pose
black
fiftyone
h5py
hydra-core
imgaug
kornia
matplotlib
moviepy
pandas
pillow
pytest
pytorch-lightning
scikit-image
sklearn
torchtyping
torchvision
typeguard
# gpus
nvidia-pyindex
--extra-index-url https://developer.download.nvidia.com/compute/redist
nvidia-dali-cuda110
